*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}

.App {
display: flex;
flex-direction:row;
justify-content: space-around;
align-items:center;
height:100vh;
width:100vw;
font-size:3rem;
margin:auto;
border:2px solid blue;
color:white;
}


.timer1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  transform: rotate(90deg);
  border:2px solid red;
  padding:5rem 10rem;
background-color:gray;
}

.timer2 {
  display: flex;
  justify-content: center;
  align-items:center;
  transform: rotate(-90deg);
  border: 2px solid green;
  padding:5rem 10rem;
background-color:gray;

}

.icons{
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items:center;
  border:2px solid black;
  padding:3rem 5rem;
}

.icons img{
  width:50px;
  height:50px;
  margin:2rem;
}
:where(.timer1, .timer2) h2{
  position: absolute;
  transform: translateY(10rem);
  color: black;
}
